* {
    margin: 0;
    padding: 0;
}

html {
    min-width: 916px;
}

body {
    background: url(hitler-youth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#title {
    color: white;
    position: fixed;
    width: 150px;
    text-align: center;
    top: 20px;
    font-size: 2em;
    font-family: Pirata One;
    text-shadow: 1px 1px 1px black;
    pointer-events: none;
}

ul {
    position: fixed;
    display: block;
    list-style-type: none;
    background: #2b2b2b;
    top: 75px;
    text-align: center;
    width: 150px;
}

#flagcontainer {
    position: fixed;
    width: 150px;
    top: 335px;
}

#combiflag {
    position: relative;
    width: 60px;
    left: 45px;
}

#flagcontainer p {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 0.8em;
    padding: 5px;
    text-shadow: 2px 2px 2px black;
}

li a:hover {
    background: #404040;
}

#active {
    background: #404040;
}

li a {
    padding: 20px 0;
    display: block;
    color: white;
    text-decoration-line: none;
    font-family: Alegreya Sans SC;
}

li:visited,
li:active {
    color: white;
}

#container {
    position: relative;
    width: 540px;
    margin: 0 auto 50px;
    top: 75px;
    line-height: 1.4em;
    background: #101010;
    box-shadow: 2px 2px 5px black;
    padding: 30px 30px;
    right: 8px;
}

#danke {
    color: white !important;
    margin: 0px !important;
    background: #2b2b2b;
}

#container p {
    text-align: center;
    font-size: 1.8em;
    margin: 0px auto 15px;
    padding: 10px;
    border-width: 7px;
    border-style: outset;
    border-color: #404040;
    font-family: Pirata One;
    letter-spacing: 0.23em;
    color: white;
    line-height: 1.25em;
}



input[type=number],
input[type=date],
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 0px;
    /* Gray border */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    background: #101010;
    color: white;
    font-family: Cutive Mono;
    font-size: 1.1em;
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #101010;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #fae265;
    color: #6b5900;
}


/* Add a background color and some padding around the form */

.form {
    padding: 20px;
    margin: 0 auto;
    background: #2b2b2b;
    color: white;
    font-family: Cutive Mono;
}

.required {
    color: #D22323;
}

.check {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    width: 300px;
    float: right;
    right: 100px;
}
