* {
    margin: 0;
    padding: 0;
}

html {
    min-width: 916px;
}

body{
    background: url(berlin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#title {
    color: white;
    position: fixed;
    width: 150px;
    text-align: center;
    top: 20px;
    font-size: 2em;
    font-family: Alegreya Sans SC;
    text-shadow: 1px 1px 1px black;
    pointer-events: none;
}

ul {
    position: fixed;
    display: block;
    list-style-type: none;
    background: #2b2b2b;
    top: 75px;
    text-align: center;
    width: 150px;
}

#flagcontainer{
    position: fixed;
    width: 150px;
    top: 335px;
}

#combiflag {
    position: relative;
    width: 60px;
    left: 45px;
}

#flagcontainer p {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 0.8em;
    padding: 5px;
    text-shadow: 2px 2px 2px black;
}


li a:hover {
    background: #404040;
}

#active {
    background: #404040;
}

li a {
    padding: 20px 0;
    display: block;
    color: white;
    text-decoration-line: none;
    font-family: Alegreya Sans SC;
}

li:visited,
li:active {
    color: white;
}

#container {   
    position: relative;
    width: 540px;
    margin: 0 auto 50px;
    top: 75px;    
    line-height: 1.4em;
    background: #101010;
    box-shadow: 2px 2px 5px black;
    padding: 30px 30px;
    right: 8px;
}

#container p {       
    color: white;
    text-align: justify;
    font-family: Cutive Mono;
    font-size: 1.2em;       
}

.floatcontainer {
    border: 2px solid #2b2b2b;
    padding: 10px;
}

.floatright {
    float: right;
    margin: 0px 0px 30px 30px;
}

.floatleft {
    width: 300px;
    float: left;
    margin: 0px 20px 30px;
}

.floatcenter {
    width: 300px;
    position: relative;       
    display: block;
    margin: 0 auto;
}

.centerpic {
    display: block;
    margin: 0 auto;
}

#container .floatcontainer p {
    color: white;
    font-size: 1em;
    text-align: center;
    font-style: italic;
    padding: 0px;
}